name: CI

on:
  workflow_call:
    inputs:
      release:
        description: create a release
        type: boolean
        default: false

env:
  CCACHE: "true"

jobs:
  qt-6-7-3:
    name: Qt 6.7.3
    uses: ./.github/workflows/platforms.yml
    with:
      build-windows: false
      build-linux: false
      build-macos: true
      version: 6.7.3
      release: ${{ inputs.release }}

  qt-6-9-3:
    name: Qt 6.9.3
    uses: ./.github/workflows/platforms.yml
    with:
      build-windows: true
      build-linux: true
      build-macos: true
      version: 6.9.3
      release: ${{ inputs.release }}

  qt-6-10-2:
    name: Qt 6.10.2
    uses: ./.github/workflows/platforms.yml
    with:
      build-windows: true
      build-linux: true
      build-macos: true
      windows-runner: windows-2025-vs2026
      version: 6.10.2
      release: ${{ inputs.release }}
